@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,500;0,700;0,900;1,400&family=Poppins:wght@300;400;600;900&display=swap');

:root {
    --main: #fffffe;
    --stroke: #2b2c34;
    --secundary: #d1d1e9;
    --tertiary: #e45858;
    --highlight: #6246ea;
}

* {
    font-family: 'Poppins', 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(106, 97, 154);
    background: linear-gradient(35deg, rgba(106, 97, 154, 1) 12%, rgba(116, 99, 196, 1) 27%, rgba(98, 70, 234, 0.9472163865546218) 47%);
    max-width: 100%;
    height: 100vh;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 2rem 1.25rem 2rem;
    background-color: var(--main);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    font-weight: 500;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--stroke);
}

.foto-perfil {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.contenedor-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.btn2 {
    background-color: var(--main);
    color: var(--stroke);
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.5s;
    margin-left: 1rem;
}

.btn2:hover {
    background-color: var(--stroke);
    color: var(--main);
}

.btn1 {
    background-color: var(--highlight);
    color: var(--main);
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.5s;
    border: 2px solid;
    border-color: var(--highlight);
}


.btn1:hover {
    background-color: var(--main);
    color: var(--highlight);
    border: 2px solid;
    border-color: var(--highlight);
}

main {
    margin-top: 1rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    border-radius: 1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

.contenedor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    border-radius: 1rem;
}

.contenedor-form label {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.contenedor-form input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--secundary);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-crear {
    background-color: var(--highlight);
    color: var(--main);
    padding: 0.75rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.5s;
    border: 2px solid;
    border-color: var(--highlight);
    margin-top: 1rem;
}

.btn-crear:hover {
    background-color: var(--main);
    color: var(--highlight);
    border: 2px solid;
    border-color: var(--highlight);
}